{% extends 'companymaster/base.html' %}
{{ form.media }}        {# Form required JS and CSS #}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container-fluid" id="headerbx" style="background-image:url('{% static 'asset/bg.jpg' %}');">
	<div class="container-fluid filtersearch">
		<div class="row">
			<div class="col-lg-6">
				<div class="headingbg">
					<h5><i class="icofont-plus"></i> Add Company</h5>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h4 class="modal-title">Add</h4>
		  <button type="button" class="close" data-dismiss="modal">
			<i class="icofont-close-circled"></i>
		  </button>
		</div>
		<div class="modal-body">
		  <div class="form-group">
					<label>Fund Party Name</label>
					<div class="line"></div>
					<input type='text' class='dtfc form-control' name='fundparty' id='addfund' />
			</div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary" onclick="addFundParty()">Save changes</button>
		</div>
	  </div>
	</div>
  </div>

<div class="container-fluid" id="contentmaindiv">
	<div class="container-fluid whitepatch">
		<div class="tp_side">
			<div class="row">
				<div class="col-md-6">
					<h3 class="tb_head"><i class="icofont-info-circle"></i> Fund Party Information
					</h3>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-2">
					<button data-toggle="modal" data-target="#exampleModal" type="button" class="btn-sm btn-info btn fl_rg shw" data-original-title="" title=""><i class="icofont-plus"></i> <span>Add FundParty</span></a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 col-sm-3 col-xs-6 fcc">
				<div class="form-group">
					<label>Company</label>
					<div class="line"></div>
					{{form2.company}}
				</div>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6 fcc">
				<div class="form-group">
					<label for="usr">Lead Underwriter</label>
					{{form2.lead_underwriter}}
					<!-- <input class="dtfc form-control" type="text" placeholder="Type..." /> -->
					<div class="fr"><a href="{% static 'asset/pdf.pdf' %}" download=""><i class="icofont-file-pdf"></i>
							View PDF </a></div>
					<!--<div class="sc"><a href="#"><i class="icofont-plus"></i> Add More</a></div>-->
				</div>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6 fcc">
				<div class="form-group">
					<label for="usr">Underwriter</label>
					{{form2.underwriter}}
					<!-- <input class="dtfc form-control" type="text" placeholder="Type..." /> -->
					<div class="fr"><a href="{% static 'asset/pdf.pdf' %}" download=""><i class="icofont-file-pdf"></i>
							View PDF </a></div>
					<!--<div class="sc"><a href="#"><i class="icofont-plus"></i> Add More</a></div>-->
				</div>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6 fcc">
				<div class="form-group">
					<label for="usr">Underwriter Counsel</label>
					{{form2.u_counsel}}
					<!-- <input class="dtfc form-control" type="text" placeholder="Type..." /> -->
					<div class="fr"><a href="{% static 'asset/pdf.pdf' %}" download=""><i class="icofont-file-pdf"></i>
							View PDF </a></div>
					<!--<div class="sc"><a href="#"><i class="icofont-plus"></i> Add More</a></div>-->
				</div>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6 fcc">
				<div class="form-group">
					<label for="usr">Auditor</label>
					{{form2.auditors}}
					<!-- <input class="dtfc form-control" type="text" placeholder="Type..." /> -->
					<div class="fr"><a href="{% static 'asset/pdf.pdf'%}" download=""><i class="icofont-file-pdf"></i>
							View PDF </a></div>
					<!--<div class="sc"><a href="#"><i class="icofont-plus"></i> Add More</a></div>-->
				</div>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6 fcc">
				<div class="form-group">
					<label for="usr">Transfer Agent</label>
					{{form2.transfer_agent}}
					<!-- <input class="dtfc form-control" type="text" placeholder="Type..." /> -->
					<div class="fr"><a href="{% static 'asset/pdf.pdf' %}" download=""><i class="icofont-file-pdf"></i>
							View PDF </a></div>
					<!--<div class="sc"><a href="#"><i class="icofont-plus"></i> Add More</a></div>-->
				</div>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6 fcc">
				<div class="form-group">
					<label for="usr">Company Counsel</label>
					{{form2.comp_counsel | attr:"value:1" }}
					<!-- <input class="dtfc form-control" type="text" placeholder="Type..." /> -->

					<div class="fr"><a href="{% static 'asset/pdf.pdf' %}" download=""><i class="icofont-file-pdf"></i>
							View PDF </a></div>
					<!--<div class="sc"><a href="#"><i class="icofont-plus"></i> Add More</a></div>-->
				</div>
			</div>
		</div>

		<div class="tp_side">
			<div class="row">
				<div class="col-md-6">
					<h3 class="tb_head"><i class="icofont-info-circle"></i> Management Information
					</h3>
				</div>				
			</div>
		</div>

		<div class="row">

			<div class="col-md-4 col-sm-3 col-xs-6 fcc " id='director'>
				<div class="form-group">
					<label  for="usr">Directors</label>
					{{form2.directors}}
					<!-- <input class="dtfc form-control" type="text" placeholder="Type..." /> -->
				</div>
				<div class="form-group">
					{{form2.directors_description}}
					<!-- <textarea class="form-control" rows="3" id="comment"></textarea> -->
					<div class="fr"><a href="{% static 'asset/pdf.pdf' %}" download=""><i class="icofont-file-pdf"></i>
							View PDF </a></div>
					<div class="sc"><a href="#"><i class="icofont-plus"></i> Add More</a></div>
				</div>

			</div>
			<div class="col-md-4 col-sm-3 col-xs-6 fcc" id='charimen'>
				<div class="form-group">
					<label for="usr">Chair. of B. Direc.</label>
					{{form2.chair_dir}}
					<!-- <input class="dtfc form-control" type="text" placeholder="Type..." /> -->
				</div>
				<div class="form-group">
					{{form2.chair_dir_description}}
					<!-- <textarea class="form-control" rows="3" id="comment"></textarea> -->
					<div class="fr"><a href="{% static 'asset/pdf.pdf' %}" download=""><i class="icofont-file-pdf"></i>
							View PDF </a></div>
					<div class="sc"><a href="#"><i class="icofont-plus"></i> Add More</a></div>
				</div>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-6 fcc" id='ceo'>
				<div class="form-group">
					<label for="usr">CEO</label>
					{{form2.ceo}}
					<!-- <input class="dtfc form-control" type="text" placeholder="Type..." /> -->
				</div>
				<div class="form-group">
					{{form2.ceo_description}}
					<!-- <textarea class="form-control" rows="3" id="comment"></textarea> -->

					<div class="fr"><a href="{% static 'asset/pdf.pdf' %}" download=""><i class="icofont-file-pdf"></i>
							View PDF </a></div>
					<div class="sc"><a href="#"><i class="icofont-plus"></i> Add More</a></div>
				</div>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-6 fcc" id='cfo'>
				<div class="form-group">
					<label for="usr">CFO</label>
					{{form2.cfo}}
					<!-- <input class="dtfc form-control" type="text" placeholder="Type..." /> -->
				</div>
				<div class="form-group">
					{{form2.cfo_description}}
					<!-- <textarea class="form-control" rows="3" id="comment"></textarea> -->
					<div class="fr"><a href="{% static 'asset/pdf.pdf' %}" download=""><i class="icofont-file-pdf"></i>
							View PDF </a></div>
					<div class="sc"><a href="#"><i class="icofont-plus"></i> Add More</a></div>
				</div>
			</div>

			<div class="col-md-4 col-sm-3 col-xs-6 fcc" id='nominee'>
				<div class="form-group">
					<label for="usr">Director Nominee</label>
					{{form2.director_nominee}}
				</div>
				<div class="form-group">
					{{form2.director_nominee_description}}
					<div class="fr"><a href="{% static 'asset/pdf.pdf' %}" download=""><i class="icofont-file-pdf"></i>
					View PDF </a></div>
					<div class="sc"><a href="#"><i class="icofont-plus"></i> Add More</a></div>
				</div>
			</div>

			<div class="col-md-4 col-sm-3 col-xs-6 fcc" id='key-share'>
				<div class="form-group">
					<label for="usr">Key Share Holder</label>
					{{form2.key_share_holder}}
					<!-- <input class="dtfc form-control" type="text" placeholder="Type..." /> -->
				</div>
				<div class="form-group">
					{{form2.key_share_holder_description}}
					<!-- <textarea class="form-control" rows="3" id="comment"></textarea> -->
					<div class="fr"><a href="{% static 'asset/pdf.pdf' %}" download=""><i class="icofont-file-pdf"></i>
							View PDF </a></div>
					<div class="sc"><a href="#"><i class="icofont-plus"></i> Add More</a></div>
				</div>
			</div>


		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<!--<a href="/company-search" type="button" class="btn btn-success shw">Update</a>-->
			<a href="/addcompany" type="button" class="btn btn-warning shw">Back</a>
			<a type="button" onclick="submitForm()" class="btn btn-success shw">Update</a>
			<a href="/addcompany-3" type="button" class="btn btn-primary shw">Next</a>			
		</div>
	</div>
</div>


</div>
<!----------content-wrap-------------->

<div id="footer">
	<div class="container-fluid">
		<div class="pull-right hidden-xs">
			<b>Version</b> 2.4.0
			
		</div>Copyright © 2018-2019 <a href="https://www.decimalpointanalytics.com/" target="_blank">Decimal Point.</a>
		All rights reserved.
	</div>
</div>

</div>
<!----------page-container-------------->
<script>

const createNode = (id,data)=>{
		
		data.slice(1).map(director=>{
		let d = Array.from(document.querySelectorAll(id))
		let el = d[d.length-1];
		item = el.cloneNode(true);
		console.log(director)
		item.querySelector('input').value = director.representative_name ?? director.keyshareholders_name
		item.querySelector('input').setAttribute('data',director.id)
		item.querySelector('textarea').innerText = director.description
		if(item.querySelector('.sc')){
			item.querySelector('.sc').classList.add('delete')
		item.querySelector('.sc a').innerText = 'Delete'
		const deleteBtn = item.querySelector('.delete')
		deleteBtn.classList.remove('sc')
		}
		
		insertAfter(item,el)

	})
}
$.get('{% url "addcompany_2_extraField" company_id=companyID %}', function( {directors,chairmens,nominees,keyshare,ceo,cfo} ) {
  	
	console.log(directors,'director')
	const dir = document.getElementById('director');
	createNode('#director',directors)
  
	const chair = document.getElementById('charimen');
	createNode('#charimen',chairmens)
	
	const normi = document.getElementById('nominee');
	createNode('#nominee',nominees)
	
	const ceo_el = document.getElementById('ceo');
	createNode('#ceo',ceo)
	
	const cfo_el = document.getElementById('cfo');
	createNode('#cfo',cfo)
	
	const key = document.getElementById('key-share');
	createNode('#key-share',keyshare)
	
	
	const deleteBtns = document.querySelectorAll('.delete')
	deleteBtns.forEach(deleteBtn=>{
		deleteBtn.addEventListener('click',function(){
				// removing element container when click on delete field
				deleteBtn.parentNode.parentNode.remove(true)
			})
	})

	
  

 
});
</script>

<script>
	// javascript only have a method to add element before it, so this function add element after it.
	function insertAfter(newNode, referenceNode) {
    referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
	}

	// Getting all input containers
	let containers = Array.from($('.fcc'))
	// loop through each each container
	containers.forEach(item => {
		// getting addmore button
		const button = item.querySelector('.sc')
		if(button){
			// adding a click event
			button.addEventListener('click', function (e) {
			// cloning because it pass by reference 
			const temp = item.cloneNode(true)
			// clearing input value
			temp.querySelector('input').value = ''
			temp.querySelector('textarea').value = ''
			//modifying the addMore button rather than creating new element
			// adding delete class
			temp.querySelector('.sc').classList.add('delete')
			// changing addmore to Delete
			temp.querySelector('.sc a').innerText= 'Delete'
			const deleteBtn = temp.querySelector('.delete')
			// removing sc class because it has add field event
			deleteBtn.classList.remove('sc')
			deleteBtn.addEventListener('click',function(){

				// removing element container when click on delete field
				deleteBtn.parentNode.parentNode.remove(true)
			})
			// adding  new input 
			insertAfter(temp,item)
		});
		};		
	})

	function submitForm() {
		if($("#id_company").val()){
			var url = "{% url 'addcompany2update' %}";
			var data = {};
			data['company'] = $("#id_company").val();
			data['lead_underwriter'] = $("#id_lead_underwriter").val();
			data['underwriter'] = $('#id_underwriter').val();
			data['u_counsel'] = $('#id_u_counsel').val();
			data['auditors'] = $('#id_auditors').val();
			data['transfer_agent'] = $('#id_transfer_agent').val();
			data['comp_counsel'] = $('#id_comp_counsel').val();
			data['director_nominee'] = Array.from(document.querySelectorAll('#id_director_nominee')).map(el=> el.value)
			data['director_nominee_description'] = Array.from(document.querySelectorAll('#id_director_nominee_description')).map(el=> el.value)
			
			
			data['key_share_holder'] = Array.from(document.querySelectorAll('#id_key_share_holder')).map(el=> el.value)
			data['key_share_holder_description'] = Array.from(document.querySelectorAll('#id_key_share_holder_description')).map(el=> el.value)			
			
			
			data['ceo'] = Array.from(document.querySelectorAll('#id_ceo')).map(el=> el.value)
			data['ceo_description'] = Array.from(document.querySelectorAll('#id_ceo_description')).map(el=> el.value)
			
			
			data['cfo'] = Array.from(document.querySelectorAll('#id_cfo')).map(el=> el.value)
			data['cfo_description'] = Array.from(document.querySelectorAll('#id_cfo_description')).map(el=> el.value)
			
			data['chair_dir'] = Array.from(document.querySelectorAll('#id_chair_dir')).map(el=> el.value)
			data['chair_dir_description'] = Array.from(document.querySelectorAll('#id_chair_dir_description')).map(el=> el.value)
			
			
			data['directors'] = Array.from(document.querySelectorAll('#id_directors')).map(el=> el.value)
			data['directors_description'] = Array.from(document.querySelectorAll('#id_directors_description')).map(el=> el.value)
			
			
			console.log(data,'')
			bootbox.confirm({
			message: "Confirm Submit?",
			buttons: {
				confirm: {
				label: 'Yes',
				className: 'btn-success'
				},
				cancel: {
				label: 'No',
				className: 'btn-danger'
				}
			},
			callback: function (result) {
				if(result){
					start_loading();
					$.ajax({
						url: url,
						method: 'POST',
						data: JSON.stringify(data),
						success: function (data) {
							stop_loading();
							make_alert("success","Fund Party and Management added successfully!");
						},
						error: function (jqXHR, status, err) {
							stop_loading();
							make_warning_alert("danger","Sorry, Something went wrong.");
						},
					});
				}
			}
		});
		}else{
			make_warning_alert("warning","Mandatory fields are required.")
		}
	}
</script> 

<script>
	function addFundParty(){
		start_loading();
		fund = $('#addfund').val()
		data = {fund}
		$.ajax({
			url: '{% url "addfundparty" %}',
			method: 'POST',
			data: JSON.stringify(data),
			success: function (data) {
				stop_loading();
				make_alert("success","Fund Party added successfully !");
			},
			error: function (jqXHR, status, err) {
				stop_loading();
				make_warning_alert("danger","Sorry, Something went wrong.");
			},
		});
	}
</script>


{% endblock %}